.toolbar {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 24px;
}

.ShowSourcing {
  width: 112px;
  height: 23px;
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Rectangle {
  height: 48px;
  background-color: #4595ff;
}

.btn-logout {
  background-color: #4595ff;
  margin-left: auto;
}
