/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables";
@import "./assets/scss/loader.scss";

* {
  box-sizing: border-box;
  font-family: SourceSansPro;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf")
    format("truetype");
}

// Button
button {
  outline: none;
  border-radius: 4px;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 10);
  }
  border: none;
  padding: 7px 11px;
  width: 100px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 12px;
  transition: background-color ease 0.2s;
  position: relative;
  &.danger {
    background-color: $red;
    &:hover {
      background-color: darken($red, 10);
    }
  }
}

/* MODALS */
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    background: #ffffff;
    padding: 24px;
    width: 424px;
    border-radius: 4px;
  }
}
@media screen and (max-width: 640px) {
  .modal {
    display: block;
    & > .modal-content {
      width: 100%;
      min-height: 100vh;
    }
  }
  .mobile-hidden {
    display: none;
  }
}

/* FORMS */
form {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #000000;
  }
  label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    transition: color ease 0.3s;
    &.active {
      color: #45adff;
    }
  }
  input,
  textarea {
    border-radius: 4px;
    border: solid 1px #a3afc6;
    margin-bottom: 24px;
    transition: border-color ease 0.3s;
    font-size: 14px;
    outline: none;
    &.active {
      border: solid 2px #45adff;
      // margin-top: -2px;
    }
  }
  input {
    height: 30px;
    padding: 0 8px;
  }
  textarea {
    height: 80px;
    padding: 6px 8px;
  }
}
